@charset "UTF-8";

/*Body*/

html {
    background-color: silver;
}


/*Article*/

article {
    padding-right: 40px;
}


/*Header*/

header {
    font-size: 50px;
    font-style: italic;
    font-family: 'Adamina';
    color: #26CBBC;
}


/*Nav*/

.topnav {
    overflow: hidden;
    background-color: black;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #D22E2E;
    color: white;
}

.topnav a.active {
    background-color: #5765CB;
    color: #FFFFFF;
}


/*Image*/

img {
    width: 50%;
    margin: 10px;
}


/*Footer*/

footer {
    font-family: 'Adamina';
    font-style: italic;
    background-color: rgb(90, 169, 220);
    border: 5px dashed rgb(10, 109, 173);
    border-radius: 10px;
    padding: 5px;
}