@charset "UTF-8";
html {
  background-color: aliceblue;
  /*Author:Zyzyc Miranda */
  .Sidenav {
    height: 100%;
    weight: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 60%;
    transition: 0.5s;
  }
  .topnav {
    background-color: rgba(185, 63, 24, 0.86);
    overflow: hidden;
  }
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px 14px;
    text-decoration: underline;
    font-size: 16px;
  }
  .topnav a:hover {
    background-color: rgba(193, 35, 35, 0.64);
    color: black;
  }
}

/*Author: Abraham Aguilar*/

/*Body*/

body {
  width: 80%;
  min-width: 600px;
  margin: 0px auto;
}

/*Header*/

header {
  font-size: 50px;
  color: rgb(79, 194, 236);
  font-style: italic;
  font-family: cursive;
}

/*Article*/

article {
  padding: 0px 10px;
}

article.right {
  float: right;
  width: 20%;
  padding: 10px;
  background-color: rgb(152, 159, 235);
  border: 3px solid rgb(110, 120, 244);
  border-radius: 20px;
}

/*Image*/

img.side {
  width: 100%;
}

img.article {
  width: 30%;
  float: left;
  padding: 0px 10px;
}

/*Footer*/

footer {
  font-family: cursive;
  background-color: rgb(37, 146, 217);
  border: 5px dashed rgb(10, 109, 173);
  border-radius: 10px;
  padding: 5px;
}
